@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                       /* import font style */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.divForBackground{                                  /* Design and structuring for the background*/
    height: 825px;
    width: 100%;
    background-image: url(CSS_Bilder/detailsback.jpg);
    background-size: cover; /* Skaliert das Bild, um die gesamte Hintergrundfläche zu bedecken */
    background-position: center center; /* Zentriert das Bild horizontal und vertikal */
    display: flex;
    justify-content: center;
    align-items: center;
}

.object-container {
    background-color: rgb(36, 37, 42, 0.9);
    height: 500px;
    width: 800px;
    border-radius: 15px;
}

.text-container{
    height: 400px;
    text-align: center;
}

.button-container {
    height: 100px;
}