@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /*Import schriftart*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;                                         /*generelle Formatierung für keine überflüssigen Ränder */
    box-sizing: border-box;
}

/* Styling Footer*/

.footer {
    background-color: #0b0c0e;
    padding: 60px 0;                            /*Main Footer styling*/
}

.footer_container {
    max-width: 1170px;                          /*Größe vom Inhalt des Footers*/
    margin: auto;
}

ul {
    list-style: none;                           /*Entfernen vom Link Styling*/
}

.footer-row {
    display: flex;
    flex-wrap: wrap;                            /*Alle Elemente werden nebeneinander dargestellt*/
}

.footer-col {
    width: 25%;                                 /*Größe der einzelnen Blöcke im Footer*/
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;                             /*Schriftformatierung */
    color: #edf0f1;
    margin-bottom: 35px;
    position:  relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0088a9;                   /*Strich unter Überschriften im Footer*/
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;                            /*Abstand zwischen links*/
}


.footer-col ul li a{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #edf0f1;                                /*Schriftformatierung*/
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #0088a9;                                 
    padding-left: 8px;                              /*Blauer Hover Effekt im Footer*/
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;                               /*Formatierung Social Links Icons*/
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #edf0f1;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color:black;
    background-color: #edf0f1;                         /*Hover effekt social media icons*/
}

.footer2 {
    width: 100%;                                        /*Unterer Footer*/
    background-color: black;
}

.pay-img {
    display: flex;
    width: 100%;                                    
    height: 50px;                                       /*Positionierung Zahlungsmöglichkeiten Bilder*/
    justify-content: center;
    padding: 0;
}

.pay-img img{
    height: 50px;
    width:  50px;                                       /*Größe der Bilder Zahlungsmethoden */
    margin-right: 5px;
}

.pay-text {
    text-align: center;
    width: 100%;                                        /*Zentrierung Zahlungsmöglichkeiten Headline*/
    height: 35px;
    padding: 8px 0;
}

.pay-text h4 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;                                  /*Schriftformatierung */
    color: #edf0f1;
}

.stylep {
    height: 25px;
    text-align: center;                                 /*Rechte Text*/
}

.stylep p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;                 /*Styling Text*/
    font-weight: 500;
    color: #edf0f1;
}
/*Ende Styling Footer*/