@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /*Import schriftart*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;                                         /*generelle Formatierung für keine überflüssigen Ränder */
    box-sizing: border-box;
}

/* Anfang Styling Header */

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

body {
    background-color: #edf0f1;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 5%;                                       /*Formatierung Hauptheader*/
    align-items: center;
    background-color: #24252a;
}

.logo {
    cursor:pointer;                                 /* Wenn man auf Logo geht kommt pointer */
}

.nav__links {
    list-style: none;
}

.nav__links li {                                    /* formatierung Links */
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}
                                                    /* Hover Effekt für die Nav Links */
.nav__links li a:hover {
    color:#0088a9;
}

.log button {
    padding: 5px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                               /* Login Button Hover Effekt */
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.log button:hover {
    background-color: rgba(0,134,160,0.7);
}

#autoleft {
    margin-left: auto;                  /*Packt Meine Buchungen und Login auf die Rechteseite */
}

#f1 {
    margin-left:20px;                   /*Formatierung für Nav Links*/
}

.boximg {
    transition:0.5s;
}                                           /*Vergrößerungs Hover Effekt für IMG */
.boximg:hover{
    transform:scale(1.08);
    z-index:1;
}

.boxtext {
    transition: all .2s ease-in-out;        /* Vergößerungs Hover Effekt für Text */
}
.boxtext:hover{
    transform: scale(1.08);
}
  
                                                        /* Das ist dein normales Styling für das Band-Element */
 
#float {
    height: 40px;
    width: 100%;                            /*formatierung vom oberen header mit floating element */
    background-image: url(Bilder/Highway.png);
}

#band  {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;                            /* formatierung vom schwebenden Text */
    color: #edf0f1;
    text-decoration: none;
}


/*Ende Header Styling*/