@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /*Import font style*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/* General styling to reset margin, padding, and set box-sizing */
*{
    margin: 0;
    padding: 0;                                        
    box-sizing: border-box;
}

/* Header styling begins */

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                    /* Font styling */
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
}



body {
    background-color: #edf0f1;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 5%;                               /* Main header formatting */
    align-items: center;
    background-color: #24252a;
    height: 120px;
}

.logo {
    cursor:pointer;                                 /* Cursor becomes pointer when hovering over the logo */
}

.nav__links {
    list-style: none;
}

.nav__links li {                                    /* Formatting for navigation links */
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}
                                                    
.nav__links li a:hover {                            /* Hover effect for navigation links */
    color:#0088a9;
}

.log {
    padding: 5px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                                   /* Login button hover effect */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.log-out {
    padding: 5px 18px;
    background-color: rgba(255, 151, 77, 1);
    border: none;                                   /* Logout button hover effect */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.log:hover {
    background-color: rgba(0,134,160,0.7);
}

.log-out:hover {
    background-color: rgba(255, 151, 77, 0.7);
}

#autoleft {
    margin-left: auto;                  /* Places "Meine Buchungen" and "Login" on the right side */
}

#f1 {
    margin-left:20px;                   /* Formatting for navigation links */
}

.boximg {
    transition:0.5s;
}                                           /* Enlargement hover effect for images */
.boximg:hover{
    transform:scale(1.08);
    z-index:1;
}

.boxtext {
    transition: all .2s ease-in-out;        /* Enlargement hover effect for text */
}
.boxtext:hover{
    transform: scale(1.08);
}
  
                                                       
/* Normal styling for the band element */
#float {
    height: 40px;
    width: 100%;                            /* Formatting for the floating element in the upper header */
    background-image: url(Bilder/Highway.png);
}

#band  {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;                           /* Formatting for the floating text */
    color: #edf0f1;
    text-decoration: none;
}