@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /*Import schriftart*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;                                         /*generelle Formatierung für keine überflüssigen Ränder */
    box-sizing: border-box;
}



h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}


.vid_heading {
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 25%; /* Zentriere vertikal */
}

.vid_heading h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 60px;
}

/*Styling vom Suchfilter Homepage*/

.suchfilter {
    height: 125px;
    width: 70%;
    border-radius: 25px;
    z-index: 2;
    background-color: rgb(36, 37, 42, 0.9)
}

.suchfilter h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

.filter_row {
    display: flex;
    gap: 50px;
    height: 100%;
    width: 100%;
    height: 125px;
    justify-content: center;
}

.filter_bar {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.form-control {
    height:40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
}

.form-select {
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
}

.button_filter {
    padding: 5px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                               /* Login Button Hover Effekt */
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

.button_filter:hover {
    background-color: rgba(0,134,169,0.7);
}

.button_reset {
    border-radius: 35px;
    padding: 5px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
    background-color: red;
}

/* Ende vom Suchfilter*/

.divheading2 {                                          /* Div für die Überschrift */
    height: 150px;                                      
    width: 100%;
    padding-top: 30px;
}

.mainheading2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    /* Schriftformatierung */
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.googlemaps {                                           /* Google Maps Fenster */
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.mem_container {
    width: 100%;
    height: 450px;
    padding: 100px 0;
    background-color: white;
}

.small_mem {
    display: flex;
    justify-content: center;
    height: 450px;
}

.member {
    position: relative;
    width: 225px;
    height: 450px;
    margin: 0px 40px;
}

.member img {
    width: 100%;
    height: 50%;
    border-radius: 50%;
    position: relative;
}

.headmem {
    width: 100%;
    height: 40px;
    background-color: white;
}

.headmem h1 {
    padding-top: 30px;
    color: black;
    text-align: center;
}

.member h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: black;
    font-size: 25px;
    text-align: center;
    
}

.memoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0,0,0, 0.6);
    opacity: 0;
    z-index: 1;
    border-radius: 50%;
    transition: 0.6s;
}

.memoverlay h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-align: center;
    padding-top: 70px;
    font-size: 25px;
}

.memoverlay:hover {
    opacity: 1;
}

/* Dieser Abschnitt bildet die Grundlage für die Div "Divfortable"*/
.divoffer{
    background-color: white;
    width: 100%;
    height: 500px;
    padding-top: 110px;
}
/* Aschnitt, in der sich die Tabelle befindet*/
.divfortable{
    background-color: white;
    width: 50%;
    height: 100%;
    margin-left: 25%;
}
/* Design für die Überschrift */
.h3 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}
/* Design für den Text*/
.p {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    text-align: center;
}
.td {
    vertical-align: top; /* Setzt die vertikale Ausrichtung des Textes auf den oberen Rand der Zelle */
}