@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /*Import schriftart*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
 *{
    margin: 0;
    padding: 0;                             /*generelle Formatierung für keine überflüssigen Ränder */
    box-sizing: border-box;
}

body {
    background-image: url(CSS_Bilder/loginback.jpg)
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: 10;
    border-left: 0;
    border-right: 0;
    border-color: #0088a9;
    border-style: solid;
}

td {
    text-align: center;
    width: 33%;
    background-color: antiquewhite;
}
td.center {
    align-content: right;
    width: 33%;
    background-color: aqua;
}

h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

container.flex {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 8%;
}

div.roundedcorners {

    box-sizing: border-box;
    width: 20%;
    background-color: white;
    margin-left: 40%;
    margin-right: 40%;
    border: 2px solid #0088a9;
    border-radius: 5%;
    margin-bottom: 100px;
}


form {
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    text-align: left;
}

label.label1 {
    order: 7;
}
label.label2 {
    order: 5;
}
label.label3 {
    order: 3;
}

form input[type=text].input1 {
    padding-right: 10%;
    font-size: 22px;
    border: 2px solid #0088a9;
    border-radius: 5px;
    order: 6;
    align-self: right;
}
form input[type=text].input2 {
    padding-right: 10%;
    font-size: 22px;
    border: 2px solid #0088a9;
    border-radius: 5px;
    order: 4;
}
form input[type=text].input3 {
    font-size: 22px;
    border: 2px solid #0088a9;
    border-radius: 5px;
    order: 2;
}

button.first {
    background-color: #0088a9;
    border: none;                                                                                                                                           
    color: #edf0f1;
    padding: 8px 20px;
    font-family: "Poppins";
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 5%;
}

input[type=submit].final {
    background-color: #0088a9;
    border: none;                                                                                                                                           
    color: #edf0f1;
    padding: 8px 20px;
    font-family: "Poppins";
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 5%;
}
button.first:disabled {
    background-color: #7ea2ab;
    border: none;                                                                                                                                           
    color: #edf0f1;
    padding: 8px 20px;
    font-family: "Poppins";
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 5%;
    cursor: not-allowed;
}