@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /*Import schriftart*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
 *{
    margin: 0;
    padding: 0;                             /*generelle Formatierung für keine überflüssigen Ränder */
    box-sizing: border-box;
}

body {
    background-image: url(CSS_Bilder/loginhafen.jpg);
    width: 100%;
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}
a {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 35px;                                    /*Schriftformatierung */
    color: #0088a9;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
}


container.flex {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 8%;
}

div.roundedcorners {
    width: 18%;
    background-color: rgb(36, 37, 42, 0.9);
    margin-left: 41%;
    border-radius: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    height: 260px;
}

form {
    margin-left:2.5%;
    box-sizing: border-box;
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    text-align: left;
    order: 1;
}

label.label {
    margin-top: 9%;
    color: white;
}

input[type=text] {
    box-sizing: border-box;
    width: 250%;
    padding-right: 5%;
    font-size: 22px;    
    border: 2px solid #ff974d;
    border-radius: 5px;
    align-self: right;
    margin-top: 5%;
}

input[type=submit].login {
    text-align: center;
    background-color: #0088a9;
    border: none;
    color: #edf0f1;
    padding: 8px 20px;
    font-family: "Poppins";
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10% auto;
    margin-left: 45%; 
    margin-top: 15%;
    display: block; 
}

input.first:disabled {
    background-color: #7ea2ab;
    border: none;                                                                                                                                           
    color: #edf0f1;
    padding: 8px 20px;
    font-family: "Poppins";
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 10%;
    cursor: not-allowed;
}