@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /*Import schriftart*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;                             /*generelle Formatierung für keine überflüssigen Ränder */
    box-sizing: border-box;
}

/*Styling vom Suchfilter Standort und Zeit*/

.filter-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.suchfilter {
    height: 125px;
    width: 71%;
    border-radius: 25px;
    z-index: 2;
    background-color: rgb(36, 37, 42, 0.9)
}

.suchfilter h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

.filter_row {
    display: flex;
    gap: 50px;
    height: 100%;
    width: 100%;
    height: 125px;
    justify-content: center;
}

.filter_bar {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.form-control {
    height:40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
}

.form-select {
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
}

.button_filter {
    padding: 5px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                               /* Login Button Hover Effekt */
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

.button_filter:hover {
    background-color: rgba(0,134,169,0.7);
}

.button_reset {
    border-radius: 35px;
    padding: 5px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
    background-color: #ff974d;
}

/* Ende vom Suchfilter*/

/*Beginn Großer Filter*/

.filter-container-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.suchfilter-extended {
    height: 250px;
    width: 71%;
    border-radius: 25px;
    z-index: 2;
    background-color: rgb(36, 37, 42, 0.96);
    padding: 10px 0;
}

.filter-row-2 {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 60px;
    justify-content: center;
}

.filter-bar-2 h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

.filter-bar-2 {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

.img-container {
    background-image: url(CSS_Bilder/Mieten_IMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}


.filter-heading {
    text-align: center;
    padding-top:20px;
}

.filter-heading h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    /* Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.form-select-2 {
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
    text-align: center;
}