@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                       /* Import font styles */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Global styling for no borders and box model */
*{
    margin: 0;
    padding: 0;                                                                                     
    box-sizing: border-box;
}

/* Styling of search filter for location and time */

body {
    background-color: #24252a;
}

/* Styling for the filter container */
.filter-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* Styling for the search filter */
.suchfilter {
    height: 125px;
    width: 71%;
    border-radius: 15px;
    z-index: 0;
    background-color: rgb(36, 37, 42, 0.9);
    
}

/* Styling for the heading in the search filter */
.suchfilter h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
}

/* Styling for the rows within the search filter */
.filter_row {
    display: flex;
    gap: 50px;
    height: 100%;
    width: 100%;
    height: 125px;
    justify-content: center;
}

/* Styling for the filter bar within the search filter */
.filter_bar {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

/* Styling for form controls in the search filter */
.form-control {
    height:40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    text-align: center;
    border-radius: 5px;
}

/* Styling for form select in the search filter */
.form-select {
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
}

/* Styling for buttons in the search filter */
.button_filter {
    padding: 5px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                                                                                   /* login button hover effect */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Styling for hover effect on buttons in the search filter */
.button_filter:hover {
    background-color: rgba(0,134,169,0.7);
}

/* Styling for reset button in the search filter */
.button_reset {
    padding: 5px 18px;
    background-color: rgba(255, 151, 77, 1);
    border: none;                                                                                   /* login button hover effect */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Styling for hover effect on reset button in the search filter */
.button_reset:hover {
    background-color: rgba(255, 151, 77, 0.7);
}

/* End of search filter */

/* Begin of big filter */

/* Styling for big filter */
.filter-container-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

/* Styling for extended search filter */
.suchfilter-extended {
    height: auto;
    width: 71%;
    border-radius: 15px;
    z-index: 0;
    background-color: rgb(36, 37, 42, 0.96);
    padding: 10px 0;
    
}

/* Styling for rows in extended search filter */
.filter-row-2 {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 45px;
    justify-content: center;
    padding-bottom: 10px;
}

/* Styling for filter bar in extended search filter */
.filter-row-filter {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 60px;
    justify-content: center;
}

/* Styling for heading in extended search filter */
.filter-bar-2 h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
}

/* Styling for filter bar in extended search filter */
.filter-bar-2 {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

/* Styling for image container */
.img-container {
    background-image: url(CSS_Bilder/Mieten_IMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

/* Styling for filter heading */
.filter-heading {
    text-align: center;
    padding-top:20px;
}

/* Styling for filter heading text */
.filter-heading h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                                                                /* font styling */
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* Styling for form select in the extended search filter */
.form-select-2 {
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

/* Styling for sorting form select in the extended search filter */
.form-select-sort {
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

/* Styling for arrow icon */
.arrow {
    color: #333;      /* Adjust color of arrow */
    font-size: 12px;    /* Adjust size of arrow */
    margin-left: 5px;   /* Adjust distance between text and arrow */
  }

/* Styling for form input in the extended search filter */
.form-input-2 {
    height: 30px;
    width: 75px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
}

/* Styling for buttons in the extended search filter */
.filter-bar-2 button {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px; 
}

/* Styling for row containing buttons in the extended search filter */
.filter-row-button {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}

/* Styling for top border row in the extended search filter */
.filter-row-3 {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 60px;
    justify-content: center;
    background-color: rgb(36, 37, 42, 1);
    border-top-style: solid;
    border-top-color: rgba(0,134,169,1);
    border-width: 2px;
}

/* Styling for bottom border row in the extended search filter */
.filter-row-4 {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 60px;
    justify-content: center;
    background-color: rgb(36, 37, 42, 1);
    border-bottom-style: solid;
    border-bottom-color: rgba(0,134,169,1);
    border-width: 2px;
}

/* Styling for "Show More" button */
.button-more {
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: none; 
    cursor: pointer;
}

/* Styling for down arrow icon */
.fa-chevron-down {
    font-size: 25px;
    color: rgba(0,134,169,1);
    transition:0.5s;
}

/* Styling for hover effect on down arrow icon */
.fa-chevron-down:hover {
    transform:scale(1.4);
    z-index:1;
}

/* Styling for hidden filter section */
#filter2 {
    display: none;
}

/* Styling for up arrow icon */
.fa-chevron-up {
    font-size: 25px;
    color: rgba(0,134,169,1);
    transition:0.5s;
}

/* Styling for hover effect on up arrow icon */
.fa-chevron-up:hover {
    transform:scale(1.4);
    z-index:1;
}

/* Styling for output container */
.container-output {
    display: grid;
    gap: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    grid-template-columns: repeat(3, 1fr); /* Three columns with the same width */
    box-sizing: border-box;
}

/* Styling for output box */
.output {
    width: 450px;
    height: 415px;
    background-color: rgba(0,134,169,1);
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.5);
    
}

.thickness {
    font-weight: 600;
}

/* Styling for output image container */
.output_img {
    width: 450px;
    height: 300px;
}

/* Styling for output image */
.output_img img{
    width: 450px;
    height: 100%;
}

/* Styling for output text */
.output_text {
    color: #edf0f1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px; 
    padding-left: 15px;
    padding-top: 10px;
}

/* Styling for background of output container */
.output_background {
    background-color: rgb(36, 37, 42, 1);
    width: 100%;
    height:auto;
    
}

/* Styling for text and button container */
.button_text {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

/* Styling for output button container */
.output_button {
    margin-left: auto;
    height: 100px; 
    display: flex;
    align-items: center;
    padding-right: 15px;
}

/* Styling for output button */
.output_button button {
    width: 110px;
    height: 30px;
    color: #edf0f1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px; 
    background-color: rgba(255, 151, 77, 1);
    border-radius: 5px;
    border: none; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition:0.4s;
}

/* Styling for hover effect on output button */
.output_button button:hover {
    background-color: rgba(255, 151, 77, 0.7);
    transform:scale(1.15);
}

/* Styling for no result message */
.no_result {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    font-size: 30px;
    width: 700px;
    text-align: center;
    margin-left: calc((1536px - 700px - 2 * 30px) / 2); /* Calculate left margin to center the element */
    margin-right: calc((1536px - 700px - 2 * 30px) / 2); /*  Calculate right margin to center the element */
}

/* Styling for "container-anzeigen" */
.container-anzeigen {
    width: 100%;
    height: 60px;
    justify-content: center;
    display: flex;
}

/* Styling for "Show More" button */
.button_showmore {
    padding: 5px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                                                                                   /* login button hover effect */
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Styling for hover effect on "Show More" button */
.button_showmore:hover {
    background-color: rgba(0,134,169,0.7);
}

/* Styling for "Show Less" button */
.button_showless {
    padding: 5px 18px;
    background-color: rgba(255, 151, 77, 1);
    border: none;                                                                                   /* login button hover effect */
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Styling for hover effect on "Show Less" button */
.button_showless:hover {
    background-color: rgba(255, 151, 77, 0.7);
}

/* Styling for pagination container */
.pagination {
    text-align: center;
    width: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

/* Styling for pagination links */
.pagination a {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 5px; /* Example spacing of 5px between the numbers */
    border: 1px solid #ccc;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    padding-top: 1px;
}

.pagination a.active {
    background-color: rgba(255, 151, 77, 1);
    color: white;
    border: 1px solid rgba(255, 151, 77, 1);
}