@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                       /* import font style */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;                                                                                     /* general formating für keine überflüssigen Ränder */
    box-sizing: border-box;
}

/* styling of search filter for location and time */

body {
    background-color: #24252a;
}

.filter-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.suchfilter {
    height: 125px;
    width: 71%;
    border-radius: 15px;
    z-index: 0;
    background-color: rgb(36, 37, 42, 0.9);
    
}

.suchfilter h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
}

.filter_row {
    display: flex;
    gap: 50px;
    height: 100%;
    width: 100%;
    height: 125px;
    justify-content: center;
}

.filter_bar {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.form-control {
    height:40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    text-align: center;
    border-radius: 5px;
}

.form-select {
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
}

.button_filter {
    padding: 5px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                                                                                   /* login button hover effect */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button_filter:hover {
    background-color: rgba(0,134,169,0.7);
}

.button_reset {
    padding: 5px 18px;
    background-color: rgba(255, 151, 77, 1);
    border: none;                                                                                   /* login button hover effect */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button_reset:hover {
    background-color: rgba(255, 151, 77, 0.7);
}

/* end of search filter */

/* begin of big filter */

.filter-container-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.suchfilter-extended {
    height: auto;
    width: 71%;
    border-radius: 15px;
    z-index: 0;
    background-color: rgb(36, 37, 42, 0.96);
    padding: 10px 0;
    
}

.filter-row-2 {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 45px;
    justify-content: center;
    padding-bottom: 10px;
}

.filter-row-filter {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 60px;
    justify-content: center;
}

.filter-bar-2 h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
}

.filter-bar-2 {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

.img-container {
    background-image: url(CSS_Bilder/Mieten_IMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}


.filter-heading {
    text-align: center;
    padding-top:20px;
}

.filter-heading h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                                                                /* font styling */
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.form-select-2 {
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.form-select-sort {
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.arrow {
    color: #333; /* Farbe des Pfeils anpassen */
    font-size: 12px; /* Größe des Pfeils anpassen */
    margin-left: 5px; /* Abstand zwischen Text und Pfeil anpassen */
  }


.form-input-2 {
    height: 30px;
    width: 75px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
}

.filter-bar-2 button {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px; 
}

.filter-row-button {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}

.filter-row-3 {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 60px;
    justify-content: center;
    background-color: rgb(36, 37, 42, 1);
    border-top-style: solid;
    border-top-color: rgba(0,134,169,1);
    border-width: 2px;
}

.filter-row-4 {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 60px;
    justify-content: center;
    background-color: rgb(36, 37, 42, 1);
    border-bottom-style: solid;
    border-bottom-color: rgba(0,134,169,1);
    border-width: 2px;
}

.button-more {
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: none; 
    cursor: pointer;
}

.fa-chevron-down {
    font-size: 25px;
    color: rgba(0,134,169,1);
    transition:0.5s;
}

.fa-chevron-down:hover {
    transform:scale(1.4);
    z-index:1;
}

#filter2 {
    display: none;
}

.fa-chevron-up {
    font-size: 25px;
    color: rgba(0,134,169,1);
    transition:0.5s;
}

.fa-chevron-up:hover {
    transform:scale(1.4);
    z-index:1;
}

.container-output {
    display: grid;
    gap: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    grid-template-columns: repeat(3, 1fr); /* Drei Spalten mit gleicher Breite */
    box-sizing: border-box;
}


.output {
    width: 450px;
    height: 400px;
    background-color: rgba(0,134,169,1);
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.5);
    
}

.output_img {
    width: 450px;
    height: 300px;
}

.output_img img{
    width: 450px;
    height: 100%;
}

.output_text {
    color: #edf0f1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px; 
    padding-left: 15px;
    padding-top: 10px;
}

.output_background {
    background-color: rgb(36, 37, 42, 1);
    width: 100%;
    height:auto;
    
}

.button_text {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.output_button {
    margin-left: auto;
    height: 100px; 
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.output_button button {
    width: 110px;
    height: 30px;
    color: #edf0f1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px; 
    background-color: rgba(255, 151, 77, 1);
    border-radius: 5px;
    border: none; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition:0.4s;
}

.output_button button:hover {
    background-color: rgba(255, 151, 77, 0.7);
    transform:scale(1.15);
}

.no_result {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    font-size: 30px;
    width: 700px;
    text-align: center;
    margin-left: calc((1536px - 700px - 2 * 30px) / 2); /* Berechnet den linken Rand, um das Element zu zentrieren */
    margin-right: calc((1536px - 700px - 2 * 30px) / 2); /* Berechnet den rechten Rand, um das Element zu zentrieren */
}

.container-anzeigen {
    width: 100%;
    height: 60px;
    justify-content: center;
    display: flex;
}

.button_showmore {
    padding: 5px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                                                                                   /* login button hover effect */
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button_showmore:hover {
    background-color: rgba(0,134,169,0.7);
}

.button_showless {
    padding: 5px 18px;
    background-color: rgba(255, 151, 77, 1);
    border: none;                                                                                   /* login button hover effect */
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;                                                                                /* font styling */
    color: #edf0f1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button_showless:hover {
    background-color: rgba(255, 151, 77, 0.7);
}

.pagination {
    text-align: left;
    width: auto;
    width: 71%;
    margin-left: auto;
    margin-right: auto;
}

.pagination a {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 5px; /* Beispielabstand von 5px zwischen den Zahlen */
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}