@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /* Import font styles */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
 
/* Global reset for margin, padding, and box-sizing */
*{
    margin: 0;
    padding: 0;                             /*generelle Formatierung für keine überflüssigen Ränder */
    box-sizing: border-box;
}
/* table styling to display the account data and buttons in a row */
table {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    box-sizing: border-box;
    height: 270px;
}
tr {
    box-sizing: border-box;
}
/* Table dimensions to fit the width of each element */

td.firstTd {
    height: 15%;
    width: 20%;
}
td.secondTd {
    height: 15%;
    padding-left: 5%;
    width: 60%;
}
td.thirdTd {
    height: 15%;
    width: 20%;
}
body {
    background-image: url(CSS_Bilder/loginhafen.jpg);
    width: 100%;
    background-size: cover;
}

/* Styling for the registration heading */
h1.register {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    
    color: #edf0f1;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}
/* div to stay in line with the other pages */
div.roundedcorners {
    width: 30%;
    background-color: rgb(36, 37, 42, 0.9);
    margin-left: 35%;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
}

/* Styling for the form inside the container */
form {
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-align: left;
    order: 1;
    display: flex;
    flex-direction: column;
}
/* Keep styling similar to other sites */
h3.accountData {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: left;
}
label.label {
    color: #0088a9;
    text-align: left;
}
input[type="submit"].finalSubmit {
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    background-color: #0088a9;
    border: none;
    color: #edf0f1;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 22px;
    font-family: "Poppins";
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20%; 
    margin-top: 5%; 
    display: block; 
    justify-self: center;
}   
input[type=text] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
    width: 70%;
    font-size: 17px;    
    border: 2px solid #0088a9;
    border-radius: 5px;
    align-self: center;
}
input[type=text].FinalInput {
    padding-left: 2%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    box-sizing: border-box;
    width: 80%;   
    border: 2px solid #0088a9;
    border-radius: 5px;
    align-self: center;
    margin-left: 5%;
}
/* Keep styling similar to other sites and make the function and status of each button obvious */
input.editButton {
    text-align: center;
    background-color: #ff974d;
    border: none;
    color: #edf0f1;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 5px;
    font-family: "Poppins";
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px; 
    justify-self: right;
    width: 100%;
}
input.editButton:disabled {
    text-align: center;
    background-color: #ffcca7;
    border: none;
    color: #edf0f1;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 5px;
    font-family: "Poppins";
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px; 
    justify-self: right;
    width: 100%;
}
input.submitButton {
    text-align: center;
    background-color: #0088a9;
    border: none;
    color: #edf0f1;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 5px;
    font-family: "Poppins";
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px; 
    justify-self: right;
    width: 100%;
    display: none;
}

input.submitButton:disabled {
    text-align: center;
    background-color: #7ea2ab;
    border: none;
    color: #edf0f1;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 5px;
    font-family: "Poppins";
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px; 
    justify-self: right;
    width: 100%;
    display: none;
}