@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /* Import font styles */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
 
/* Global reset for margin, padding, and box-sizing */
*{
    margin: 0;
    padding: 0;                            
    box-sizing: border-box;
}

/* Styling for the body, setting background image and size */
body {
    background-image: url(CSS_Bilder/loginhafen.jpg);
    width: 100%;
    background-size: cover;
}

/* Styling for the registration heading */
h1.register {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    
    color: #edf0f1;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}
a.register {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;                                   
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

/* Styling for the registration result message */
div.registrationResult {
    margin-left: 10%;
    margin-top: 2%;
    text-align: left;
    width: 400%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;                                    
    text-decoration: none;
    color: #ff974d;
}

/* Styling for sub-heading in registration */
h3.register {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

/* Styling for major error handling container */
div.errorHandlingMajor {
    padding-top: 4%;
    box-sizing: border-box;
    width: 50%;
    order: 2;
    display: flex;
    flex-direction: column;
}

/* Styling for minor error handling messages */
div.errorHandlingMinor {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;                                    
    color: #ff974d;
}

/* Styling for the main flex container */
container.flex {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 8%;
}

/* Styling for the main container with rounded corners */
div.roundedcorners {
    width: 28%;
    background-color: rgb(36, 37, 42, 0.9);
    margin-left: 36%;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    height: 315px;
}

/* Styling for the form inside the container */
form {
    box-sizing: border-box;
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    text-align: left;
    order: 1;
}

/* Styling for labels in the form */
label.label {
    color: white;
    margin-top: 3%;
}

/* Styling for text input fields */
input[type=text].input {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    width: 120%;
    padding-right: 5%;
    font-size: 22px;    
    border: 2px solid #ff974d;
    border-radius: 5px;
    align-self: right;
}

/* Styling for back button */
input[type=button].back {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #ff974d;
    border: none;                                                                                                                                           
    color: #edf0f1;
    cursor: pointer;
    order: 2;
    margin-left: 30%;
    margin-top: 10%;
    padding: 5px 20px;
    border-radius: 5px;
    height: fit-content;
}

/* Styling for the first step button */
input.first {
    background-color: #0088a9;
    border: none;                                                                                                                                           
    color: #edf0f1;
    padding: 5px 20px;
    font-family: "Poppins";
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 7%;
    margin-left: 20%;
}

/* Styling for the final step button */
input.final {
    text-align: center;
    width: 90%;
    background-color: #0088a9;
    border: none;
    color: #edf0f1;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    font-family: "Poppins";
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0%; 
    margin-top: 7%; 
    display: block; 
}

/* Styling for the disabled first step button */
input.first:disabled {
    background-color: #7ea2ab;
    border: none;                                                                                                                                           
    color: #edf0f1;
    padding: 5px 20px;
    font-family: "Poppins";
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 7%;
    cursor: not-allowed;
}

/* Styling for the disabled final step button */
input.final:disabled {
    text-align: center;
    width: 90%;
    background-color: #7ea2ab;
    border: none;
    color: #edf0f1;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-family: "Poppins";
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0%;
    margin-top: 7%; 
    display: block; 
    cursor: not-allowed;
}

/* Styling for the login button */
button.login{
    text-align: center;
    background-color: #ff974d;
    border: none;
    color: #edf0f1;
    padding: 6px 18px;
    font-family: "Poppins";
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 47.26%; 
    display: block; 
    margin-bottom: 30px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}