@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');                   /*Import schriftart*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;                                         /*generelle Formatierung für keine überflüssigen Ränder */
    box-sizing: border-box;
}

/* Anfang Styling Header */

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 19px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 5%;                                       /*Formatierung Hauptheader*/
    align-items: center;
    background-color: #24252a;
   
}

.logo {
    cursor:pointer;                                 /* Wenn man auf Logo geht kommt pointer */
}

.nav__links {
    list-style: none;
}

.nav__links li {                                    /* formatierung Links */
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}
                                                    /* Hover Effekt für die Nav Links */
.nav__links li a:hover {
    color:#0088a9;
}

.log button {
    padding: 8px 18px;
    background-color: rgba(0,134,169,1);
    border: none;                               /* Login Button Hover Effekt */
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.log button:hover {
    background-color: rgba(0,134,160,0.7);
}

#autoleft {
    margin-left: auto;                  /*Packt Meine Buchungen und Login auf die Rechteseite */
}

#f1 {
    margin-left:20px;                   /*Formatierung für Nav Links*/
}

.boximg {
    transition:0.5s;
}                                           /*Vergrößerungs Hover Effekt für IMG */
.boximg:hover{
    transform:scale(1.08);
    z-index:1;
}

.boxtext {
    transition: all .2s ease-in-out;        /* Vergößerungs Hover Effekt für Text */
}
.boxtext:hover{
    transform: scale(1.08);
}
  
                                                        /* Das ist dein normales Styling für das Band-Element */
 
#float {
    height: 40px;
    width: 100%;                            /*formatierung vom oberen header mit floating element */
    background-image: url(Bilder/Highway.png);
}

#band  {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;                            /* formatierung vom schwebenden Text */
    color: #edf0f1;
    text-decoration: none;
}


/*Ende Header Styling*/

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    /*Schriftformatierung */
    color: #edf0f1;
    text-decoration: none;
}

.image {
    background-image: url(Bilder/lambo.png);
    width: 100%;                                
    height: 600px;
}

.image-overlay {
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%; 
    height: 600px;                              /*Tranzperentes Overlay für Mainpage IMG*/
    padding: 20px;
}

/* Styling Footer*/

.footer {
    background-color: #0b0c0e;
    padding: 60px 0;                            /*Main Footer styling*/
}

.footer_container {
    max-width: 1170px;                          /*Größe vom Inhalt des Footers*/
    margin: auto;
}

ul {
    list-style: none;                           /*Entfernen vom Link Styling*/
}

.footer-row {
    display: flex;
    flex-wrap: wrap;                            /*Alle Elemente werden nebeneinander dargestellt*/
}

.footer-col {
    width: 25%;                                 /*Größe der einzelnen Blöcke im Footer*/
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;                             /*Schriftformatierung */
    color: #edf0f1;
    margin-bottom: 35px;
    position:  relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0088a9;                   /*Strich unter Überschriften im Footer*/
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;                            /*Abstand zwischen links*/
}


.footer-col ul li a{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #edf0f1;                                /*Schriftformatierung*/
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #0088a9;                                 
    padding-left: 8px;                              /*Blauer Hover Effekt im Footer*/
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;                               /*Formatierung Social Links Icons*/
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #edf0f1;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color:black;
    background-color: #edf0f1;                         /*Hover effekt social media icons*/
}

.footer2 {
    width: 100%;                                        /*Unterer Footer*/
    background-color: black;
}

.pay-img {
    display: flex;
    width: 100%;                                    
    height: 50px;                                       /*Positionierung Zahlungsmöglichkeiten Bilder*/
    justify-content: center;
    padding: 0;
}

.pay-img img{
    height: 50px;
    width:  50px;                                       /*Größe der Bilder Zahlungsmethoden */
    margin-right: 5px;
}

.pay-text {
    text-align: center;
    width: 100%;                                        /*Zentrierung Zahlungsmöglichkeiten Headline*/
    height: 35px;
    padding: 8px 0;
}

.pay-text h4 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;                                  /*Schriftformatierung */
    color: #edf0f1;
}

.stylep {
    height: 25px;
    text-align: center;                                 /*Rechte Text*/
}

.stylep p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;                 /*Styling Text*/
    font-weight: 500;
    color: #edf0f1;
}

.divheading2 {                                          /* Div für die Überschrift */
    height: 150px;                                      
    width: 100%;
    padding-top: 50px;
}

.mainheading2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    /* Schriftformatierung */
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.googlemaps {                                           /* Google Maps Fenster */
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divForContactBox {
    background-color: white;
  }

/* Kontaktbox */
.contact{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    -webkit-appearance:none;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  /* Box für jedes Teammitglied */
  .contact-box{
    background-color: #32383d;
    width: 40%;
    border-radius: 5px;
    padding: 15px 15px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Container mit Bild */
  .contact-box div{
    display: block;
  }
  
  /* Container mit zusätzlichen Informationen über die Person */
  .contact-box ul{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact-box li{
    list-style-type: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 200;
  }
  
  .contact p{
    hyphens: auto;
    padding: 0;
    margin: 0;
  }
  
  /* Bild */
  .contact-box img{
    display: block;
    width: 100px;
    height: auto;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    border: solid white 2px;
    object-fit: cover;
  }
  
  /* Abstand zwischen Text und E-Mail */
  .li_space{
    height:130px;
  }
  .headingforcontact {
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;                                    /* Schriftformatierung */
    color: #000000;
    text-decoration: none;
    text-align: center;
}